<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li class='logo'></li>
        <li class='menu-title'>Puzzles!</li>
    </ul>
</nav>
<button ng-click='skip_q()' class='btn btn-border ssp hvr-fade skip-btn' ng-disabled=disable>Skip</button>
<button ng-class='back_btn' ng-click='go_back()' class='btn ssp hvr-fade btn-border back-btn'>Back</button>
<div class='jumbotron ssp text-center main-body'>{{ rs_sum }}</div>
<input type="text" class="anagram-answer ssp form-control input-lg text-center" placeholder="Insert {{placeholder}} Name" ng-keypress="enter_press($event)" ng-model="formData.text" ng-disabled=disable>
<button class='ssp btn btn-border give-up-btn anagram-btns hvr-fade' ng-click='give_up()'>Give Up? Reveal Answer</button>
<button class='ssp btn btn-border next-q-btn anagram-btns hvr-fade' ng-click='check_answer()'>Am I Right?</button>
<div ng-class='correct_answer' class='ssp correct-answer-anagram correct-answer alert-success alert'>{{ congrats }}</div>
<div ng-class='wrong_answer' class='ssp wrong-answer-anagram wrong-answer alert alert-danger'>{{ wrong_answer_anagram }}<button class='ssp restart-game-btn btn-border' ng-click='create_new_game()'>Restart Game</button></div>
<div class='ssp anagram-info score-info'>Score : {{ score }}/{{ no_of_anagram }}</div>
<div ng-class="dynamichide" class='ssp'>Level : {{ level }}</div>
<div></div>