<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li class='logo'></li>
        <li class='menu-title'>Puzzles!</li>
    </ul>
</nav>

<div class='text-center main-body'>
	<h1 class='puzzle-header header'>{{ tagline }}</h1>
	<div class='row'>
		<div class='col-md-6'>
			<h2 class='sub-head'>Maths Puzzles<i ng-class='math_caret' class='fa fa-2x puzzle-down' ng-click='drop_down("math")'></i></h2>
			<div ng-class='{hide: !math_down, bounceIn: math_down, bounceOut: !math_down}' class='button-group animated math-puzzle-btns'>
					<!--<button class='btn mp-btn hvr-fade' ng-click='start_games("multi")'>Multiplication</button>
					<button class='btn mp-btn hvr-fade' ng-click='start_games("add")'>Addition</button>
					<button class='btn mp-btn hvr-fade' ng-click='start_games("sub")'>Subtraction</button>
					<button class='btn mp-btn hvr-fade' ng-click='start_games("divide")'>Division</button>-->
				<button class='btn mp-btn hvr-fade' ng-repeat='button in math_btns' ng-click='start_games(button.link)'>{{ button.name }}</button>
			</div>
		</div>
		<div class='col-md-6'>
			<h2 class='sub-head'>Anagram Puzzles<i ng-class='anagram_caret' class='fa fa-2x puzzle-down' ng-click='drop_down("anagram")'></i></h2>
			<div ng-class="{hide: !anagram_down, bounceIn: anagram_down, bounceOut: !anagram_down}" class='button-group animated anagram-puzzle-btns'>
					<!--<button id='country_btn' class='btn mp-btn hvr-fade' ng-click='start_anagram_game("country")'>Country Names</button>
					<button id='state_btn' class='btn mp-btn hvr-fade' ng-click='start_anagram_game("state")'>State Names</button>
					<button id='eft_btn' class='btn mp-btn hvr-fade' ng-click='start_anagram_game("eft")'>European Football Team Names</button>
					<button id='eft_btn' class='btn mp-btn hvr-fade' ng-click='start_anagram_game("cars")'>Car Manufacturer Names</button>-->
				<button id='country_btn' ng-repeat='button in ana_btns' class='btn mp-btn hvr-fade' ng-click='start_anagram_game(button.link)'>{{ button.name }}</button>
			</div>
		</div>
	</div>
	<div class='mp-footer'>Website Designed by <a href='http://www.graemebrunton.com'>Graeme Brunton</a> || Puzzle graphic by <a href="http://www.freepik.com/">Freepik</a> from <a href="http://www.flaticon.com/">Flaticon</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a></div>
</div>

<script src='assets/js/base.js'></script>