<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li class='logo'></li>
        <li ng-class='back_btn'><a href="/">Back</a></li>
    </ul>
</nav>
<div class='jumbotron text-center main-body'>{{ sum }}</div>
<div class='row' style='background-color: white'>
	<div id="{{ name.id }}" class='col-md-6 number-squares' ng-click='!IsClickEnable||check_answer(name.number)' ng-repeat='name in numbers.number'>{{ name.number }}</div>
</div>
<div>Time : {{ counter }} Score : {{ score }} Level : {{ level }}</div>
<div ng-class='wrong_answer' class='wrong-answer alert alert-danger'>{{ alert }}</div>