<nav class="navbar navbar-inverse">
    <div class="nav navbar-nav">
        <div class='logo'></div>
        <span class='menu-title'>Puzzles!</span>
    </div>
</nav>
<button ng-class='back_btn' ng-click='go_back()' class='btn btn-border ssp hvr-fade back-btn'>Back</button>
<div ng-class='dynamichide' class='ssp jumbotron text-center main-body'><span ng-class='hint_effect' class='animated display-block'>{{ hint }}</span></div>
<div class='row ooo-squares'>
	<div class='col-md-6 ssp number-squares' ng-click='!IsClickEnable||check_answer(odd)' ng-repeat='odd in ooo_game_arr'><span ng-class='odd_answer_effect' class='animated display-block'>{{ odd }}</span></div>
</div>
<div class='score-info ssp math-info'>Time : {{ counter }} Score : {{ score }}</div>
<div ng-class='wrong_answer' class='wrong-answer alert ssp alert-danger animated'>{{ alert }}<button class='restart-game-btn ssp' ng-click='create_new_game()'>Restart Game</button></div>