html, body {
	height: 100%;
}

/*main*/

.main-body {
	margin-top: 15px;
}

.puzzle-down {
	display: block;
}

.math-puzzle-btns {
	display: none;
}

.anagram-puzzle-btns {
	display: none;
}

.odd-puzzle-btns {
	display: none;
}

