html, body {
	height: 100%;
}

.container {
	height: 100%;
	width: 100%;
}

.body-container {
	height: 100%;
}

.navbar {
	height: 50px;
}

.navbar-nav>li{
	font-size: 35px;
}

h1 {
	font-size: 80px;
}

.mp-btn {
	width: 250px;
	height: 75px;
	font-size: 15px;
	border-width: 1px;
	margin-bottom: 10px;
}

.header {
	font-size: 70px;
}

.sub-head {
	font-size: 35px;
}

.mp-footer {
	font-size: 10px;
}

.puzzle-down {
	display: block;
}

.math-puzzle-btns {
	display: none;
}

.anagram-puzzle-btns {
	display: none;
}

.row {
	margin-right: 0;
	margin-left: 0;
}

.odd-puzzle-btns {
	display: none;
}
/*puzzle page*/

.jumbotron {
	font-size: 25px;
	margin-top: 20px;
}

.back-btn {
    font-size: 15px;
}

.skip-btn {
	font-size: 15px;
}

.score-info {
	font-size: 15px;
}

.restart-game-btn {
    float: left;
    margin-right: 15px;
    margin-top: -5px;
}

/*math page*/

.number-squares {
	font-size: 25px;
	margin-bottom: 10px;
	width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.wrong-answer{
	font-size: 15px;
	width: 100%;
}

.correct-answer{
	font-size: 15px;
	width: 100%;
}

.correct-answer-anagram {
	width: 100%;
	margin-top: 50px;
}

/*anagram page*/

.wrong-answer-anagram {
	width: 100%;
}

.anagram-answer {
	height: 7%;
	font-size: 20px;
}

.anagram-info {
	margin-top: 15px;
}

.anagram-btns {
    font-size: 15px;
}